extends layout 
block content 
    .row 
        .col-xs-12.col-md-12 
            h1=title 
            img(src='./images/Biceps.jpg',width=1000,height=1500)
        .col-xs-12.col-md-12
            img(src='./images/bisep1.jpg',width=1000,height=1500)
        <br><br><br>
        .p.lead
            | Building upper body strength in modern times is hard. We face few daily threats. No longer have to climb obstacles every day or throw heavy things about or dig the ground using tools in order to survive. So, to compensate, we need to focus on specific parts of the upper body's musculature and put in the reps. Biceps Only is a workout that helps in that direction. Great as a regular workout to use for increased upper body strength and power. 
