extends layout 
block content 
    .row 
        .col-xs-12.col-md-12 
            h1=title 
            img(src='./images/spine.jpg',width=1000,height=1500)
        .col-xs-12.col-md-12
            img(src='./images/spine1.jpg',width=1000,height=1500)
        <br><br><br>
        .p.lead
            | Spine Stability is a workout that helps you strengthen the muscles and ligaments along your back that help your posture. An optimized posture helps you fatigue slower when you sit at your desk or are out walking and it helps maintain spinal health and prevent injuries. 
