extends layout 
block content 
    .row 
        .col-xs-12.col-md-12 
            h1=title 
            img(src='./images/yoga.jpg',width=1000,height=1500)
        .col-xs-12.col-md-12
            img(src='./images/yoga1.jpg',width=1000,height=1500)
        <br><br><br>
        .p.lead 
            | Morning Yoga Flow is a grounding workout. It's designed to make you feel good about yourself and help you recharge your battery. Based on the principle that "motion is emotion" it will lift your mood and help you get in tune with how your body moves and how it feels. Being in the flow is a process and it starts with movement and breathing. 