extends layout 
block content 
    #banner.page-header
        .row
            .col-lg-6
                h1=title
    .row 
        .col-xs-12.col-sm-12
            form#signin.form-horizontal(action= 'url', method='post', role='form')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Student Name
                        .col-xs-10.col-sm-12
                            input#name.form-control(name='name')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Father Name
                        .col-xs-10.col-sm-12
                            input#name.form-control(name='name')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Father's Occupation
                        .col-xs-10.col-sm-12
                            input#name.form-control(name='name')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Father's Mobile Number
                        .col-xs-10.col-sm-12
                            input#name.form-control(name='name')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Mother Name
                        .col-xs-10.col-sm-12
                            input#name.form-control(name='name')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Mother's Occupation
                        .col-xs-10.col-sm-12
                            input#name.form-control(name='name')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Mother's Mobile Number 
                        .col-xs-10.col-sm-12
                            input#name.form-control(name='name')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') AnuragCET Rank
                        .col-xs-10.col-sm-12
                            input#name.form-control(name='name')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Eamcet Rank
                        .col-xs-10.col-sm-12
                            input#name.form-control(name='name')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Inter Marks
                        .col-xs-10.col-sm-12
                            input#name.form-control(name='name')
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Preferences 1
                        .col-xs-10.col-sm-12
                            select#name.form-control(name='name')
                                option Artificial Intelligence Machine Learning
                                option Artificial Intelligence
                                option Chemical Engineering 
                                option Computer Science And Engineering 
                                option Computer Science and Engineering (Data Science)
                                option Cyber Security
                                option Electronics and Communication Engineering
                                option Electrical and Electronics Engineering 
                                option Mechanical Engineering
                                option Civil Engineering 
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Preferences 2
                        .col-xs-10.col-sm-12
                            select#name.form-control(name='name')
                                option Artificial Intelligence Machine Learning
                                option Artificial Intelligence
                                option Chemical Engineering 
                                option Computer Science And Engineering 
                                option Computer Science and Engineering (Data Science)
                                option Cyber Security
                                option Electronics and Communication Engineering
                                option Electrical and Electronics Engineering 
                                option Mechanical Engineering
                                option Civil Engineering 
                .form-group
                    label.col-xs-10.col-sm-12.control-label(for='name') Preferences 3
                        .col-xs-10.col-sm-12
                            select#name.form-control(name='name')
                                option Artificial Intelligence Machine Learning
                                option Artificial Intelligence
                                option Chemical Engineering 
                                option Computer Science And Engineering 
                                option Computer Science and Engineering (Data Science)
                                option Cyber Security
                                option Electronics and Communication Engineering
                                option Electrical and Electronics Engineering 
                                option Mechanical Engineering
                                option Civil Engineering 
            button.btn.btn-default.pull-right Submit 